name: build-application

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Git ref of sources to build'
        required: true
        type: string
      family:
        description: 'Device family to build for'
        required: true
        type: choice
        options:
          - B288
          - B300

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.version }}
          fetch-depth: 0
          submodules: true

      - name: Install build dependencies
        run: |
          sudo apt-get update -
          sudo apt-get install --no-install-recommends -y \
                7zip \
                build-essential \
                ca-certificates \
                clang \
                cmake \
                git \
                libtinfo5 \
                pkg-config \
                python3-jinja2 \
                wget \
                zip

      - name: Install PocketBook SDK
        run: |
          ./scripts/install_sdk.sh --family ${{ inputs.family }} --path .
          rm SDK-${{ inputs.family }}-6.8.7z

      - name: Build application
        run: |
          source build_env.sh

          cmake -S . -B build \
                -DCMAKE_TOOLCHAIN_FILE=${SDK_ROOT_PATH}/share/cmake/arm_conf.cmake
          cmake --build build \
                --target taranis.app archive installer checksum

          mkdir build/artifact
          cp build/taranis.{app,pbi,sha256,zip} build/artifact

      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          path: build/artifact
          if-no-files-found: error

