name: build-application

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Git ref of sources to build'
        required: true
        type: string

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.version }}
          fetch-depth: 0
          submodules: true

      - name: Install build dependencies
        run: |
          sudo apt-get update -
          sudo apt-get install --no-install-recommends -y \
                7zip \
                build-essential \
                ca-certificates \
                clang \
                cmake \
                git \
                libtinfo5 \
                pkg-config \
                python3-jinja2 \
                wget \
                zip

      - name: Install PocketBook SDK
        run: |
          ./scripts/install_sdk.sh
          rm ./SDK-B288-6.8.7z

      - name: Build application
        run: |
          export PKG_CONFIG_PATH=${PWD}/SDK_6.8.0/SDK-B288/usr/arm-obreey-linux-gnueabi/sysroot/libcurl-nspr/usr/lib/pkgconfig/:${PWD}/SDK_6.8.0/SDK-B288/usr/arm-obreey-linux-gnueabi/sysroot/usr/lib/pkgconfig:${PWD}/SDK_6.8.0/SDK-B288/usr/arm-obreey-linux-gnueabi/sysroot/lib/pkgconfig
          cmake -S . -B build \
                -DCMAKE_TOOLCHAIN_FILE=${PWD}/SDK_6.8.0/SDK-B288/share/cmake/arm_conf.cmake
          cmake --build build \
                --target taranis.app archive installer checksum
          mkdir build/artifact
          cp build/taranis.{app,pbi,sha256,zip} build/artifact

      - name: Upload archive
        uses: actions/upload-artifact@v4
        with:
          path: build/artifact
          if-no-files-found: error

